body {
    background-color: rgb(213, 245, 134);
}

header {
    text-align: center;
}

h1 {
    text-transform: uppercase;
    background-color: black;
    border-bottom: 2px solid yellowgreen;
    color: antiquewhite;
    padding: 32px 2px;
}

h2{
    margin-bottom: 5px;
}

img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

div {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.link {
    display: block;
    text-align: right;
    margin-bottom: 15px;
}

.link a{
    color: black;
}

.link a:hover{
    color:rgb(77, 46, 253);
}
